<footer class="footer">
  <div class="footer-container container">
    <p class="footer-text ft-part-one">
      &copy; 2022 | <span class="lang-polyci">All Rights Reserved</span> |
    </p>
    <div class="ft-part-two">
      <p class="footer-text">
        <span class="lang-developer">Developed with</span>
        <svg width="18" height="13" class="icon-heart">
          <use href="./images/sprite.svg#icon-heart"></use>
        </svg>
        <span class="footer-text"
          ><span class="lang-by">by</span>
          <a class="footer-link lang-students open_modal"
            >GoIT Students</a
          ></span
        >
      </p>
    </div>
  </div>
</footer>
<!-- hello -->
<!-- hello -->
