<header class="header header--search">
  <div class="container header__container">
    <div class="header__nav">
      <a href="./index.html" class="js-logo header__btn">
        <div
          class="header__logo animate__animated animate__flip animate__slower animate__delay-4s animate__infinite infinite"
        ></div>
        <span class="header__text-logo">Filmoteka </span>
      </a>
      <div class="wrapper">
        <a
          href="./index.html"
          class="header__home--current header__btn header__home-btn"
        >
          Home
        </a>
        <!-- <a href="./library.html"> -->
        <a href="./library.html" class="js-lyb-btn header__btn header__lyb-btn">
          My library
        </a>

        <!-- </a> -->
      </div>
    </div>
    <form class="js-search-form header_form is-hidden">
      <input
        class="header__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button class="header__btn header__search-btn"></button>
    </form>
    <div class="button_change_theme--container">
      <button id="button" class="button_change_theme button_light_theme"></button>
      <button id="button" class="button_change_theme button_dark_theme"></button>
      </div>
  </div>
</header>
