<header class="header header--lybrary">
  <div class="container header__container">
    <div class="header__nav">
      <a href="./index.html" class="js-logo header__btn">
        <div
          class="header__logo animate__animated animate__flip animate__slower animate__delay-4s animate__infinite infinite"
        ></div>
        <span class="header__text-logo">Filmoteka </span>
      </a>
      <div class="wrapper">
        <a href="./index.html" class="header__btn header__home-btn"> Home </a>

        <a
          href="./library.html"
          class="header__lyb--current header__btn header__lyb-btn"
        >
          My lybrary
        </a>
      </div>
    </div>
    <div class="wrap-lyb-nav">
      <button class="js-watched-btn header__lyb-nav-btn btn-active">
        Watched
      </button>
      <button class="js-queue-btn header__lyb-nav-btn">Queue</button>
    </div>
    <div class="button_change_theme--container">
<button id="button" class="button_change_theme button_light_theme"></button>
<button id="button" class="button_change_theme button_dark_theme"></button>
</div>
  </div>
</header>
