<div class="team-modal backdrop is-hidden">
  <div class="tm-content">
    <div class="tm-header-container">
      <h2 class="tm-header">
        <span class="lang-group pouring"> Big Hero </span>
        <span class="tm-number pouring"> 6 </span>
      </h2>
    </div>
    <button type="button" class="tm-close-btn js-close-btn-team">
      <svg width="13" height="13" class="tm-exit">
        <use href="./images/sprite.svg#icon-close-modal"></use>
      </svg>
    </button>
    <div class="tm-body">
      <ul class="tm-members">
        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/VitaliyLev"
          >
            <img
              src="./images/team/vitaliy1.jpg"
              class="member-image"
              alt="Photo of Vitaliy Lev"
          /></a>
          <p class="member-name lang-serg">Vitaliy Lev</p>
          <p class="member-position lang-lead">Team Lead</p>
        </li>

        <li class="tm-members-item">
          <a class="member-link" target="_blank" href="#"
            ><img
              src="./images/team/yura1.jpg"
              class="member-image"
              alt="Photo of Uriy"
          /></a>
          <p class="member-name lang-maria">Uriy Sherbuna</p>
          <p class="member-position lang-scrum">Scrum Master</p>
        </li>

        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/TanuhaD"
            ><img
              src="./images/team/tanya1.jpg"
              class="member-image"
              alt="Photo of Tanya"
          /></a>
          <p class="member-name lang-ihork">Tatyana Demchenko</p>
          <p class="member-position lang-dev1">Developer</p>
        </li>

        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/VoloshynVolodymyr"
            ><img
              src="./images/team/volodumur1.jpg"
              class="member-image"
              alt="Photo Volodumur Voloshun"
          /></a>
          <p class="member-name lang-petr">Volodumur Voloshun</p>
          <p class="member-position lang-dev2">Developer</p>
        </li>

        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/Elizaveta29"
            ><img
              src="./images/team/liza1.jpg"
              class="member-image"
              alt="Photo of Elizaveta Antonovska"
          /></a>
          <p class="member-name lang-tetiana">Elizaveta Antonovska</p>
          <p class="member-position lang-dev3">Developer</p>
        </li>

        <li class="tm-members-item">
          <a
            class="member-link"
            target="_blank"
            href="https://github.com/Asgardpuper"
            ><img
              src="./images/team/maks1.jpg"
              class="member-image"
              alt="Photo of Maksum Kachalay"
          /></a>
          <p class="member-name lang-anast">Maksum Kachalay</p>
          <p class="member-position lang-dev4">Developer</p>
        </li>
      </ul>
    </div>
  </div>
</div>
