.header {
  width: 100%;
  height: 230px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: $submain-white-color;
}

.header--search {
  background-image: url(../images/header/main-320@1x.jpg);
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header/main-320@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    height: 230px;
    background-image: url(../images/header/main-768@1x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/main-768@2x.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/header/main-1280@1x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/main-1280@2x.jpg);
    }
  }
}

.header__container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 92px;
  @media screen and (min-width: 768px) {
    width: 768px;
    height: 216px;
    padding-bottom: 45px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-bottom: 40px;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.header__btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: inherit;
  &:hover {
    scale: 1.05;
  }
}

.header__logo {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: $accent-color;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.82 2H4.18C2.97602 2 2 2.97602 2 4.18V19.82C2 21.024 2.97602 22 4.18 22H19.82C21.024 22 22 21.024 22 19.82V4.18C22 2.97602 21.024 2 19.82 2Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 2V22' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 2V22' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2 12H22' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2 7H7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M2 17H7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 17H22' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 7H22' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
  @media screen and (min-width: 1280px) {
  }
  &:hover {
    // animation: Glow 0.5s ease infinite alternate;
    scale: 1.05;
  }
}
.header__text-logo {
  display: none;
  @media screen and (min-width: 768px) {
    font-style: normal;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    margin-left: 8px;
    font-size: 30px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1280px) {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    text-align: center;
  }
}

.header__home-btn {
  position: relative;
  margin-right: 40px;
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
  @media screen and (min-width: 1280px) {
  }
}
.header__home--current {
  color: $accent-color;
}
.header__home--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  transform: translateY(3px);
  border-radius: 2px;
  background-color: $accent-color;
}
.header__lyb-btn {
  white-space: nowrap;
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-right: 33px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 9px;
    margin-right: 0px;
  }
  &:hover,
  &:focus {
    scale: 1.05;
  }
}

.header_form {
  position: relative;
  width: 280px;
  height: 20px;
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 20px;
    margin-left: 170px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
    height: 20px;
    margin-left: 420px;
  }
}

.header__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  color: $submain-white-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
  }
  &:focus,
  &:focus-visible {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
  }
  &::placeholder {
    color: inherit;
  }
}
.header__search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 9.5C7.70914 9.5 9.5 7.70914 9.5 5.5C9.5 3.29086 7.70914 1.5 5.5 1.5C3.29086 1.5 1.5 3.29086 1.5 5.5C1.5 7.70914 3.29086 9.5 5.5 9.5Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5 10.5002L8.32495 8.3252' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}
